@{ 
    ViewData["Title"] = "Eliminar Tablero";
}

@model Proyecto.Models.Tablero

<h2>Confirmar eliminación</h2>

<form asp-controller="Tablero" asp-action="EliminarTableroFromForm">
    <input name="idTableroAEliminar" type="hidden" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>