@{ 
    ViewData["Title"] = "Eliminar Usuario";
}

@model Proyecto.Models.Usuario

<h2>Confirmar eliminación</h2>

<form asp-controller="Usuario" asp-action="EliminarFromForm">
    <input name="idUsuarioAEliminar" type="hidden" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>